@import url(variables.css);
.column {
    display:flex;
    width: 90%;
    height: 100%;
    flex-wrap:wrap;
    justify-content: space-around;
    margin: 5rem auto;
  }
  
  .card {
    height: 55vh;
    width: 23vw;
    border:2.5px solid #000;
    margin: 10px;
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        border-radius: 20px;
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
        background-color: white;
    }
  
  .img 
  {
  flex-wrap: wrap;
  align-items: center;
  height: 50%;
  width: 80%;
  border:2.5px solid #000;
  }

  